.bodyAffect {
    font-family: Helvetica;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.epicHeader {
    width: 100%;
    margin: 0px;
    border: 0px;
    padding-top: 30px;
    padding-bottom:30px;
    background-color: rgb(255, 225, 52);
}

.epicHeaderMid {
    margin: 0 auto;
    padding-left: 30px;
    width: 1024px;
    color: rgb(0, 169, 221);
    display: flex;
}

.belowEpicHeader {
    width: 100%;
    margin: 0px;
    border: 0px;
    padding-top: 30px;
    padding-bottom:30px;
    background-color: rgb(34, 34, 34);
}

.belowEpicHeaderMid {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1024px;
    display: flex;
}

.belowEpicHeaderBoxes {
    margin: 0 auto;
    width: 30%;
    height: 50px;
    background-color: rgb(162, 0, 255);
    color: white;
    text-align: center;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 117, 225);
    text-decoration: none;
}

h5 {
    width: 320px;
    color: black;
    line-height: 25px;
}

.htmlListsContainer {
    width: 100%;
    margin: 0px;
    border: 0px;
    padding-top: 30px;
    padding-bottom:30px;
    background: rgb(63, 63, 63)
}

.htmlListsBoxMid {
    margin: 0 auto;
    padding: 30px;
    width: 1024px;
    display: flex;
}

.listItem {
    margin: 0 auto;
    padding-left: 100px;
    width: 50%;
    color: white;
}

.tableContainer {
    width: 100%;
    margin: 0px;
    border: 0px;
    padding-top: 30px;
    padding-bottom:30px;
    background: rgb(63, 63, 63)
}

.tableTest {
    margin: 0 auto;
    padding: 30px;
    width: 1024px;
    color: white;
    border: 1px solid rgb(162, 0, 255);
    text-align: center;
    border-spacing: 0px;
}

th {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(162, 0, 255);
    background-color: rgb(162, 0, 255);;
}

td {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(162, 0, 255);
}

.videoContainer {
    width: 100%;
    margin: 0px;
    border: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(255, 225, 52);
}

.videoFrame {
    width: 1024px;
    margin: 0 auto;
    padding: 0px;
}

iframe {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom:30px;
}
